<div class="poppins-semibold text-center mt-4">
    <h1 class="poppins-semibold text-center mt-4"style="color:var(--grey-dark);font-size: 32px;">
      Browse The Range
    </h1>
    <p style="color: var(--foreground);">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
  <div class="d-flex gap-5 justify-content-center align-content-center mb-5">
    <div>
      <a href="/Dining">
        <div class="rounded-lg border text-card-foreground bg-transparent border-0 shadow-none">
          <div class="p-0 w-auto h-auto overflow-hidden rounded-xl " style="border-radius: calc(var(--radius) + 2px);">
            <img 
              alt="Furniro Dining Category Image" 
              loading="lazy" 
              width="381" 
              height="580" 
              class="img-fluid"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1Yq2AUutBSGHGQQ5JmJENzE-dYRFo9TxiAw&s"
            >
          </div>
          <div class="d-flex justify-content-center p-0 mt-3">
            <h4 class="text-dark" style="text-decoration: none;">Dining</h4>
          </div>
        </div>
      </a>
    </div>
    
    <div>
      <a href="/Living">
        <div class="rounded-lg border text-card-foreground bg-transparent border-0 shadow-none">
          <div class="p-0 w-auto h-auto overflow-hidden rounded-xl" style="border-radius: calc(var(--radius) + 2px);">
            <img 
              alt="Furniro Living Category Image" 
              loading="lazy" 
              width="381" 
              height="580" 
              class="img-fluid" 
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1Yq2AUutBSGHGQQ5JmJENzE-dYRFo9TxiAw&s"
            >
          </div>
          <div class="d-flex justify-content-center p-0 mt-3">
            <h4 class="text-dark" style="text-decoration: none;">Living</h4>
          </div>
        </div>
      </a>
    </div>
    
    <div>
      <a href="/Bedroom">
        <div class="rounded-lg border text-card-foreground bg-transparent border-0 shadow-none">
          <div class="p-0 w-auto h-auto overflow-hidden rounded-xl" style="border-radius: calc(var(--radius) + 2px);">
            <img 
              alt="Furniro Bedroom Category Image" 
              loading="lazy" 
              width="381" 
              height="580" 
              class="img-fluid" 
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1Yq2AUutBSGHGQQ5JmJENzE-dYRFo9TxiAw&s"
              >
          </div>
          <div class="d-flex justify-content-center p-0 mt-3">
            <h4 class="text-dark" style="text-decoration: none;">Bedroom</h4>
          </div>
        </div>
      </a>
    </div>
  </div>