<div class="main-img position-relative">
    <div class="rounded p-5 mt-5 mx-auto bg-accent position-absolute"
      style=" background-color: var(--accent); max-width: 643px; top: 6rem; left: 50%;">
      <div class="d-flex flex-column gap-1">
        <span class="text-uppercase font-weight-bold text-muted poppins-semibold">New Arrival</span>
        <h1 class="poppins-bold" style="color: var(--primary);">Discover Our New Collection</h1>
        <p class="text-muted mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec
          ullamcorper mattis.</p>
      </div>
      <a href="/shop" class="btn mt-4 px-5 py-3 poppins-semibold"
        style="background-color: var(--primary); color: var(--primary-foreground);">BUY NOW</a>
    </div>
  </div>
  <div>
    <app-room-list></app-room-list>
  </div>

  <div>
    <app-product-list></app-product-list>
  </div>